.container{
    width: 1200px;
    padding: 0 15px ;
    margin: o auto;
} 
.header-li{
    display: flex;
    justify-content: space-around;
   
}
.header-ul{
display: flex;
justify-content: space-around;

}

.a{
    display: flex;
    justify-content: center;
    padding-top: 20px ;
}

.indexc{
    display: flex;
    justify-content: center;
    padding-top: 20px ;
}


.main-ul{
    justify-content: flex-end;
}
.main-li{
    justify-content: flex-end;
}
body{
    background-color: rgb(230, 230, 230);
}
a{
    text-decoration: none;
}


.footer{
    background-color: rgb(179, 179, 179);
}


.photo{ 
    display: flex;
    justify-content: center;
   
    padding-top: 35px;
    padding-bottom: 35px;
}
.header-h{
    display: flex;
    justify-content:center ;
    font-size: 35px;
}
.header-p{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 700px;
}
.main-ul{
   display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-weight: 700px;
    padding-bottom: 45px;
}